<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>shortnik</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<h1>make your URL shorter...</h1>

<form th:action="@{/login}" method="post">
    <label for="username">Name:</label>
    <input type="text" id="username" name="username" required/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required/>
    <br/>
    <button type="submit">sign in</button>
    <button type="reset">forgot password?</button>
</form>

<a th:href="@{/register}">register</a>
</body>
</html>