<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shortnik</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Tel-Run project URL Shortener</h1>
<form th:action="@{/main}" method="post" th:object="${urlRequest}">
    <label for="url">Put your URL here:</label>
    <input type="text" id="url" name="url" th:field="*{longUrl}" required>
    <br>
    <label for="description">Description (optional):</label>
    <input type="text" id="description" name="description" th:field="*{description}">
    <br>
    <button type="submit">Shorten</button>
</form>
</body>
</html>